<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A soft</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/includeHTML.js"></script>
</head>
<body>
  <div class="wrap">
    <header>
      <h1><a href="#this"><img src="/static/img/logo.svg" alt=""></a></h1>
      <nav>
        <div class="gnb">
          <a href="#this" class="gnb-item on onThisToggle">
            <span class="gnb-icon" include-HTML="/static/img/dashboard.svg"></span>
            Dashboard
          </a>
        </div>
        <div class="gnb">
          <a href="#this" class="gnb-item arrow onThisToggle">
            <span class="gnb-icon" include-HTML="/static/img/gnb-01.svg"></span>
            전동기 결함 유형 진단
          </a>
          <div class="depth-1">
            <a href="#this" class="depth-1-item onThisToggle">현대모터</a>
            <div class="depth-2">
              <a href="#this" class="depth-2-item onThisToggle">55kW(7.5Hp)</a>
              <a href="#this" class="depth-2-item onThisToggle">7.5kW</a>
              <a href="#this" class="depth-2-item onThisToggle">Motor-ll</a>
            </div>
          </div>
          <div class="depth-1">
            <a href="#this" class="depth-1-item onThisToggle">두산모터</a>
            <div class="depth-2">
              <a href="#this" class="depth-2-item onThisToggle">55kW(7.5Hp)</a>
              <a href="#this" class="depth-2-item onThisToggle">7.5kW</a>
              <a href="#this" class="depth-2-item onThisToggle">Motor-ll</a>
            </div>
          </div>
          <div class="depth-1">
            <a href="#this" class="depth-1-item onThisToggle">기아모터</a>
            <div class="depth-2">
              <a href="#this" class="depth-2-item onThisToggle">55kW(7.5Hp)</a>
              <a href="#this" class="depth-2-item onThisToggle">7.5kW</a>
              <a href="#this" class="depth-2-item onThisToggle">Motor-ll</a>
            </div>
          </div>
        </div>
        <div class="gnb">
          <a href="#this" class="gnb-item arrow onThisToggle">
          <span class="gnb-icon" include-HTML="/static/img/gnb-02.svg"></span>
          ECO 시스템 환경관리
          </a>
        </div>
      </nav>
      <div class="bottom-logo"><img src="/static/img/logo.svg" alt=""></div>
    </header>
    <main>
      <div class="dashboard-title">Dashboard</div>
      <div class="container mb-20">
        <div class="flex mb-20">
          <div class="dashboard-data data-01">
            <div class="dot"></div>
            <div class="name">수집</div>
            <div class="sub">Collect</div>
            <div class="data">
              90
              <span>건</span>
            </div>
          </div>
          <div class="dashboard-data data-02">
            <div class="dot"></div>
            <div class="name">정제</div>
            <div class="sub">Refine</div>
            <div class="data">
              80
              <span>건</span>
            </div>
          </div>
          <div class="dashboard-data data-03">
            <div class="dot"></div>
            <div class="name">전처리</div>
            <div class="sub">Pretreatment</div>
            <div class="data">
              70
              <span>건</span>
            </div>
          </div>
          <div class="dashboard-data data-04">
            <div class="dot"></div>
            <div class="name">진단</div>
            <div class="sub">Diagnosis</div>
            <div class="data">
              20
              <span>건</span>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="full-basis border-content mr-20">
            <div class="bar-title mb-20">최근 수집 데이터 목록</div>
            <div class="data-table">
              <table>
                <thead>
                  <tr>
                    <th>순번</th>
                    <th>기업</th>
                    <th>모델</th>
                    <th>시간</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="full-basis border-content">
            <div class="bar-title mb-20">최근 진단 데이터 목록</div>
            <div class="data-table">
              <table>
                <thead>
                  <tr>
                    <th>순번</th>
                    <th>기업</th>
                    <th>모델</th>
                    <th>시간</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>현대모터</td>
                    <td>5.5kW(7.5Hp)</td>
                    <td>2020-05-05 10:21:13</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="bar-title mb-20">기업 및 모델 진단 현황</div>
        <div class="border-content">
          <div class="data-table">
            <table>
              <thead>
                <tr>
                  <th>순번</th>
                  <th>기업</th>
                  <th>모델</th>
                  <th>시간</th>
                  <th>진단 유형</th>
                  <th>진단 결과</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>RF</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge danger">비정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>RF</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge danger">비정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>RF</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge success">정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>RF</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge">진단중</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge danger">비정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge danger">비정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge success">정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge">진단중</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge danger">비정상</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>현대모터</td>
                  <td>5.5kW(7.5Hp)</td>
                  <td>2020-05-05 10:21:13</td>
                  <td>DNN</td>
                  <td>
                    <div class="tc">
                      <div class="table-badge success">정상</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagenation mt-18">
            <div class="data">Showing 1 to 10 of 98 entries</div>
            <div class="left-auto">
              <div class="flex">
                <button class="page-btn"><img src="/static/img/first_page.svg" alt=""></button>
                <button class="page-btn"><img src="/static/img/prev.svg" alt=""></button>
                <button class="page-btn on">1</button>
                <button class="page-btn">2</button>
                <button class="page-btn">3</button>
                <button class="page-btn">4</button>
                <button class="page-btn"><img src="/static/img/next.svg" alt=""></button>
                <button class="page-btn"><img src="/static/img/last_page.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script>
    includeHTML();
  </script>
  <script src="/static/js/onThisToggle.js"></script>
</body>
</html>